@font-face {

    font-family: 'Jaapokki';
    src: url('/fonts/Jaapokki-Regular.otf');

}
@font-face {

    font-family: 'Brutal';
    src: url('/fonts/Brutal.woff2');

}
@font-face {

    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.ttf');

}
