---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

---
<header class="bg-blue-600 py-4">
    <Container>
        <p class="text-white">I am header</p>
    </Container>
</header>
